*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}

body {
    color: wheat;
    background-image: linear-gradient(to right bottom, #1b1c1d, #212d36, #223e52, #1e516e, #07658c);
}

#header {
    padding-top: 5%;
    width: 100%;
    height: 87vh;
}
#element {
    color: #ff004f;
}
.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 37px; ;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1000;
}

.logo {
    width: 130px;
    margin-left: 10px;
    height: 80px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    font-family: serif;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
  
.header-text {
    color: white;
    margin-top: 20%;
    font-size: 35px;
    width: fit-content;
}

.header-text h1 {
    font-size: 54px;
    margin-top: 90px;
    width: fit-content;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text h1 span1 {
    background-image: linear-gradient(to right, #FF9933, #FFFFFF, #138808); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

/* --------ABOUT SECTION--------- */
#about {
    padding: 90px 0;
    color: orange;
    font-size: 20px;
}
#about p {
    font-size: 20px;
    color: white;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    height: 85vh;
    width: 25vw;
    border-radius: 120px;
}

.about-col-2 {
    margin-top: -30px;
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    margin-top: 35px;
    font-weight: 600;
    color: orange;
}

.tab-titles {
    display: flex;
    color: orange;
    justify-content: space-around;
    margin: 20px 0 20px;
}

.tab-links {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 5000;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    font-size: 18px;
    margin: 10px 0;
}

.tab-contents ul li span {
    color:chocolate;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -------------Certifications------------- */
#certificate-carousel {
    padding: 50px 0;
}

.carousel {
    width: 100%;
    height: 85vh ;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    margin-top: 85px;
    width: 1205px;
    height: 500px;
    object-fit: contain;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: 1px solid black;
    font-size: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    background-color: rgba(255, 255, 255, .2);
}

.carousel-button:hover, 
.carousel-button:focus {
    color: white;
    background-color:rgba(0, 0, 0, .5) ;
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 10%;
}

.carousel-button.next {
    right: 11%;
}

/* ---------------Projects--------------- */
#projects {
    padding: 30px 0;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
    font-size: 30px;
    margin-bottom: 30px;
}

.projects-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover {
    background-color: #ff004f;
    transform: translateY(-10px);
}

/* --------------Contact Me--------------- */
#contact {
    padding: 50px 0;
}
.contact-left {
    flex-basis: 35%;
    color: #ababab;
}
.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    font-size: 18px;
}

.contact-left p i {
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition:0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    margin: 35px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background: #262626;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.contact-right form {
    margin-top: 35px;
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* -------------Copyright------------- */

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    background: #000;
    font-weight: 300;
    margin-top: 20px;
}

.copyright p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.copyright span{
    color: #ff004f;
}
 /* ------------Responsiveness------------- */

 nav .fas {
    display: none;
 }

 @media only screen and (max-width: 600px){
    #header {
        background-image: url(/images/small-screen.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 20px;
        font-weight: 650;
        color: #262626;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 20px;
     }

     nav ul {
        background: #262626;
        opacity: 90%;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 70px;
        z-index: 2;
        transition: right 0.5s;
     }

     nav ul li {
        display: block;
        margin: 25px;
     }

     nav ul .fa-solid {
        position: absolute;
        top: 45px;
        left: 25px;
        cursor: pointer;
     }

     .sub-title {
        font-size: 40px;
     }

     .about-col-1, .about-col-2 {
        flex-basis: 100%;
        align-self: center;
     }

     .about-col-1 {
        margin-bottom: 30px;
     }

     .about-col-2 {
        font-size: 14px;
     }

     .tab-links {
        font-size: 16px;
        margin-right: 20px;
     }

     .contact-left, .contact-right {
        flex-basis: 100%;
     }

     .copyright {
        font-size: 14px;
     }
 }

 #msg {
    color: greenyellow;
    margin-top: -10px;
    display: block;
 }